*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: white;
}

p{
    color: black;
}

h1{
    text-decoration-style: wavy;
    text-decoration-color: aqua;
    color: black;
}

h2{
    color: blue;
}

b{
    margin-right: 200px;
    color: white;

}

label{
    color: black;
}


div{
    width:150px;
    height:50px;
    border-width:5pxpx;
    border-colorblackyellow;
    border-style: solid;
    display: inline-block;

}



body {
    
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin:0;
    padding:0;
    color: black;
}

{
    margin: 0;
    padding: 0;

}

nav{
    background-color:blue;
    padding: 1rem;
    color: black;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    color: black;
}

nav ul li {
    display: inline;
    color: black;
    text-decoration: none;
    
}

main{
    color:black;
}

form{
    

}

main{
    
    h3{
        color: black;
    }
}

h1{
    color: blueviolet;
}

img{
    width: 150px;
    height: 150px;
}